<html>
<head> <title> Registration - Gruuvity </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">

<body>
    <div class="container">
        <div class="title">
    REGISTRATION
        </div>
<header>
       <a href="{{url_for("home")}}" class="logo">STUDENT'S BIODATA</a>
    <ul type=circle>
        <li> <a href="{{url_for("home")}}" class="active">HOME</a></li>
        <li> <a>PROFILE</a>
        <ul>
            <li>
            {% for name, username in user %}
              <a href="{{username}}"> {{name}} </a> <br>
            {% endfor %}
            </li>
             </ul>
        </li>
        <li> <a href="#">CONTACT</a></li>
        <li> <a href="#">ABOUT US</a></li>
        </ul>
        </header>

    <form action="{{ url_for("receiveinfo")}}" method="post" enctype="multipart/form-data">
        <div class="user-details">
            <div class="input-box">
                <span class="details">
                      
                    First Name:<input required type="text" name="firstname" placeholder="First Name"></span></div>
             <div class="input-box">
                <span class="details">
                    Last Name: <input required type="text" name="lastname" placeholder="Last Name"> </span></div>
             <div class="input-box">
                <span class="details">
                    College: <input type="text" name="college" placeholder="College"></span></div>
             <div class="input-box">
                <span class="details">
                    Age: <input required type="number" name="age" placeholder="Age"></span></div>
             <div class="input-box">
             <span class="details">
                 Contact Number: <input required type="text" name="number" placeholder="Contact Number">
                 </span></div>
            <div class="input-box">
             <span class="details">
                 Facebook ID Link: <input required type="url" name="fb_url" placeholder="Facebook">
                </span></div>
            <div class="input-box">
             <span class="details">
                 Select Job: <select required name="job">
                    <option> Student </option>
                    <option> Teacher </option>
                 </select></span></div></div>
            
                 <div class="gender-details">
                <span class="gender-title">
                Gender: <input required type="radio" name="gender" value="Male"> Male <input type="radio" name="gender" value="Female"> Female</span></div><br>
            
             <div class="religion-details">
                <span class="religion-title">
                     Religion: <input type="checkbox" name="religion" value="Muslim"> Muslim
                    <input type="checkbox" name="religion" value="Hindu"> Hindu <input type="checkbox" name="religion" value="Others"> Others </span><br><br>
                 Upload a Profile Picture: <input required type="file" name="picture" accept=".jpg">
             </div>
            
        <div align="center" class="button"><input type="submit" value="Submit"></div>
        </form>

    </div>
</body>
</html>
