{% extends "base.html" %}


{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} <title> Students Information - Student's Biodata </title> {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/showinfo.css') }}">
</head>
<body bgcolor="#256D85">
    <!--for students row-->
    {% for student in students %}
    <div class="row">
      <div class="column">
        <div class="card">
               <img src="{{student[9]}}" alt="picture" width="150" height="150" align="center" ><br>
               <h3>{{student[0]}} {{student[1]}}</h3>
               <b> College: </b> {{student[2]}} <br>
               <b> Age: </b> {{student[3]}} <br>
               <b> Gender: </b> {{student[4]}} <br>
               <b> Religion: </b> {{student[5]}} <br>
               <b> Contact Number: </b> {{student[6]}} <br>
               <b> Job: </b> {{student[8]}} <br>
                <a href="{{student[7]}}" target="_blank"> Facebook </a> <br><br>
           <form action="{{url_for("receiveinfo")}}" method="POST">
                    <input type="hidden" name="username" value="{{student[10]}}">
                    <input type="hidden" name="job" value="{{student[8]}}">
                    <input type="submit" style="margin-right: 10px" name="work" value="Update">
                    <input type="submit" name="work" value="Delete">
               </form>
        </div>
      </div>
    {% endfor %}
    </div>

</body>
{% endblock %}
