<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Updated - Gruuvity </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/updated.css') }}">
</head>
<body bgcolor="ADDDD0">
    <div class="navbar">
      <a class="active" href="{{url_for("home")}}"> Home </a>
      <div class="dropdown">
        <button class="dropbtn">Profile
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for name, username in user %}
              <a href="{{username}}"> {{name}} </a> <br>
            {% endfor %}
        </div>
      </div>
      <a href="#contact">Contact</a>
      <a href="#about">About us</a>
    </div>

<h2 align="center"> Your Information has Uploaded. </h2>
    <h3 align="center"> Is it okay? {{ name }} </h3>
    <div class="center">
  <a href="{{ url_for("receiveinfo")}}">
    <button > Add New </button>
  </a></div>
</body>
</html>